<template>
  <div class="app">
    <router-view />
    <!-- Loader -->
    <PageLoader :queryRequest="queryRequest" />
  </div>
</template>
<script>
// Components
import PageLoader from './components/PageLoader'
export default {
  name: 'PuppyAppView',
  data () {
    return {
      // queryRequest: Es la variable que muestra la consulta que se realizo en el hijo
      queryRequest: ''
    }
  },
  components: {
    PageLoader
  },
  /*
    Inject / provide
    Usando la sintaxis de función podemos mutar el objeto
    this del padre en cualquier hijo donde se inyecte
  */
  provide () {
    return {
      updateQuery: (newQuery) => {
        this.queryRequest = newQuery
      }
    }
  }
}
</script>
<style lang="scss" scoped>
.puppy-searcher-loader {
  @include flex-center-center;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  z-index: 2;
  position: absolute;
  top: -100%;
  opacity: 0;

  .loader-text {
    @include flex-start-center;
    width: 50%;
    height: 100%;
    color: black;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    @media (max-width: 650px) {
      width: 100%;
      padding: 0px 15px;
    }
    &__paragraph {
      font-size: 50px;
      font-weight: 300;
      text-transform: uppercase;
      @media (max-width: 650px) {
        font-size: 35px;
      }
      &--mark {
        font-weight: 700;
      }
    }
    &__icon {
      width: 100%;
      @media (max-width: 650px) {
        width: 40px;
        position: absolute;
        right: 15px;
        bottom: 15px;
      }
      img {
        @media (max-width: 650px) {
          width: 40px;
          height: 40px;
        }
      }
    }
  }
}
</style>
