<template>
  <div>
    <AppDataTable
      @set-date="getSeasonData($event)"
      :items="worldCupData"
    />
  </div>
</template>
<script>
// Components
import AppDataTable from '@mod/world-cups/components/AppDataTable'

// Services
import { getMatches, getSeasons } from '@mod/world-cups/services/seasons-leages.services'

export default {
  name: 'SeasonsWomanCupsView',
  data () {
    return {
      worldCupData: [],
      worldCupSeasonsOrdered: []
    }
  },
  components: {
    AppDataTable
  },
  created () {
    this.getSeasonData()
  },
  methods: {
    async getSeasonData (date = '') {
      // Obtenemos la información
      const worldCupSeasons = await getSeasons(782)
      const worldCupSeasonsOrdered = worldCupSeasons.map((value) => {
        return {
          country_id: value.country_id,
          name: value.name,
          league_id: value.league_id,
          season_id: value.season_id,
          start_date: value.start_date,
          end_date: value.end_date,
          is_current: value.is_current,
          matchs: []
        }
      })
      for (let i = 0; i < worldCupSeasonsOrdered.length; i++) {
        worldCupSeasonsOrdered[i].matchs = await getMatches(
          worldCupSeasonsOrdered[i].season_id,
          date !== '' ? date : worldCupSeasonsOrdered[i].start_date
        )
      }
      this.worldCupData = worldCupSeasonsOrdered
    }
  }
}
</script>
