<template>
  <div class="data-table">
    <div class="data-table__filter">
      Filtra por fecha
      <input
        type="date"
        @change="updateDate($event)"
      />
    </div>
    <div
      v-for="item in items"
      :key="item.season_id"
      class="data-table-item"
    >
      <div class="data-table-item__country">
        Liga {{item.name}}<br>
      </div>

      <div class="data-table-item__headers">
        <div class="row">
          Fecha
        </div>
        <div class="row row--large">
          Equipos contendientes
        </div>
        <div class="row">
          Resultado
        </div>
        <div class="row">
          Status
        </div>
        <div class="row">
          Stage
        </div>
      </div>

      <div
        v-for="(match, index) in item.matchs"
        :key="index"
        class="data-table-item__body"
      >
        <div class="col">
          <div class="row">
            {{ match.match_start }}
          </div>
          <div class="row row--large">
            <div
              v-for="(team, index) in getTeamsInformation(match.home_team, match.stats.home_score, match.away_team, match.stats.away_score)"
              :key="index"
              class="teams-container"
            >
              <div
                class="team"
                :class="team.homeScore > team.awayScore ? 'team--winner' : 'team--looser' "
              >
                {{ team.homeTeam }}
              </div>
              <div
                class="team"
                :class="team.awayScore > team.homeScore ? 'team--winner' : 'team--looser' "
              >
                {{team.awayTeam }}
              </div>
            </div>
          </div>
          <div class="row">
            {{ match.stats.home_score }} - {{ match.stats.away_score }}
          </div>
          <div class="row">
            {{ match.status }}
          </div>
          <div class="row">
            {{ getStage(match.stage) }}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'AppDataTable',
  props: {
    items: {
      required: true
    }
  },
  methods: {
    getTeamsInformation (homeTeam, homeScore, awayTeam, awayScore) {
      return homeTeam === null ? [] : [
        {
          homeTeam: homeTeam.name,
          homeScore: homeScore,
          awayTeam: awayTeam.name,
          awayScore: awayScore
        }
      ]
    },
    getStage (stage) {
      return stage === null ? 'undefined' : stage.name
    },
    updateDate (event) {
      this.$emit('set-date', event.target.value)
    }
  }
}
</script>
<style lang="scss" scoped>
.data-table {
  @include flex-center-center;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: flex-start;
  overflow-y: auto;
  padding: 25px;
  z-index: 1;
  background: white;
  &__filter {
    @include flex-start-center;
    width: 100%;
    height: 50px;
    gap: 15px;
  }
  .data-filters {
    @include flex-start-center;
    width: 100%;
    height: 50px;
    gap: 15px;
  }
  .data-table-item {
    width: 100%;
    height: auto;
    @media (max-width: 650px) {
      overflow-x: auto;
    }
    &__country {
      @include flex-start-center;
      width: 100%;
      height: 50px;
      background: black;
      color: white;
      padding: 0px 15px;
      @media (max-width: 650px) {
        width: 1200px;
      }
    }
    &__headers {
      @include flex-between-center;
      width: 100%;
      height: 50px;
      padding: 0px 15px;
      @media (max-width: 650px) {
        width: 1200px;
      }
    }

    &__body {
      width: 100%;
      height: calc(100% - 50px);
      @media (max-width: 650px) {
        width: 1200px;
      }
      .col {
        @include flex-between-center;
        width: 100%;
        height: 50px;
        padding: 0px 15px;
        margin-bottom: 15px;
        &:hover {
          background: rgba(0, 0, 0, 0.1);
        }
      }
    }

    .row {
      @include flex-start-center;
      width: 17%;
      height: 50px;
      &--large {
        width: 30%;
      }
    }
    .teams-container {
      @include flex-start-center;
      width: 100%;
      height: 100%;
      .team {
        @include flex-start-start;
        width: 50%;
        height: 100%;
        padding: 0px 10px;
        &--winner {
          color: #17aa00;
        }
        &--looser {
          color: #fb2447;
        }
      }
    }
  }
  .data-table-loader {
    @include flex-center-center;
    width: 100%;
    height: 500px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
}
</style>
