<template>
  <nav class="world-cups-navigation">
    <div class="world-cups-navigation__logo">
      SPORTS TEST
    </div>
    <div class="world-cups-navigation__links">
      <router-link to="/world-cups">
        Copas del mundo
      </router-link>
      /
      <router-link to="/seasons-woman-cups">
        Temporadas de la liga femenil
      </router-link>
      /
      <router-link to="/seasons-world-cups">
        Temporadas de las ligas del mundo
      </router-link>
    </div>
  </nav>
</template>
<script>
export default {
  name: 'world-cups-navigation'
}
</script>
<style lang="scss" scoped>
.world-cups-navigation {
  @include flex-between-center;
  height: 60px;
  background: black;
  padding: 0px 25px;
  color: white;
  @media (max-width: 650px) {
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
    height: auto;
  }
  &__logo {
    font-weight: 700;
    @media (max-width: 650px) {
      @include flex-center-center;
      width: 100%;
      height: 40px;
    }
  }
  &__links {
    @include flex-start-center;
    width: auto;
    height: 100%;
    gap: 5px;
    color: white;
    @media (max-width: 650px) {
      justify-content: center;
      flex-wrap: wrap;
      align-content: flex-start;
      align-items: flex-start;
      padding: 15px 0px;
    }
    a {
      color: white;
      border: none;
      text-decoration: none;
      font-size: 14px;
      text-align: center;
    }
  }
}
</style>
