<template>
  <div class="data-table">
    <div
      class="data-filters"
      v-if="countries.length>0"
    >
      Elige un país...
      <select @change="filterResultsByCountry($event)">
        <option
          v-for="item in countries"
          :key="item.country_id"
          :value="item.country_id"
        >
          {{item.country}}
        </option>
      </select>
    </div>

    <div
      v-for="(item, index) in teams"
      :key="index"
      class="data-table-item"
      @click="redirect(item.country_id, item.country)"
    >
      <div class="data-table-item__country">
        Pais: {{item.country}}
        <img src="@app/assets/right-arrow.png" />
      </div>

      <div
        v-if="item.teams.length !== 0"
        class="data-table-item__headers"
      >
        <div class="row row--small">
          Id
        </div>
        <div class="row row--medium">
          Nombre
        </div>
        <div class="row">
          Logo
        </div>
      </div>

      <div
        v-for="(subItem, index) in item.teams"
        :key="index"
        class="data-table-item__body"
      >
        <div class="col">
          <div class="row row--small">
            {{subItem.team_id}}
          </div>
          <div class="row row--medium">
            {{subItem.name}}
          </div>
          <div class="row">
            <img :src="subItem.logo" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'AppDataTable',
  props: {
    teams: {
      required: true
    },
    countries: {
      required: true
    }
  },
  methods: {
    filterResultsByCountry (event) {
      this.$emit('filter-by-country', {
        idOfCountry: event.target.value,
        nameOfCountry: event.target.options[event.target.options.selectedIndex].text
      })
    },
    redirect (id, countryName) {
      this.$router.push(`/plays-of-country/${id}/${countryName}`)
    }
  }
}
</script>
<style lang="scss" scoped>
.data-table {
  @include flex-center-center;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: flex-start;
  overflow-y: auto;
  padding: 25px;
  background: white;
  z-index: 1;
  .data-filters {
    @include flex-start-center;
    width: 100%;
    height: 50px;
    gap: 15px;
    @media (max-width: 650px) {
      justify-content: space-between;
    }
  }
  .data-table-item {
    width: 100%;
    height: auto;
    @media (max-width: 650px) {
      overflow-x: auto;
    }
    &__country {
      @include flex-between-center;
      width: 100%;
      height: 50px;
      background: black;
      color: white;
      padding: 0px 15px;
      margin-bottom: 15px;
      cursor: pointer;
      @media (max-width: 650px) {
        width: 500px;
      }
      img {
        height: 90%;
      }
    }
    &__headers {
      @include flex-start-center;
      width: 100%;
      height: 50px;
      padding: 0px 15px;
      @media (max-width: 650px) {
        width: 500px;
      }
    }

    &__body {
      width: 100%;
      height: calc(100% - 50px);
      @media (max-width: 650px) {
        width: 500px;
      }
      .col {
        @include flex-start-center;
        width: 100%;
        height: 50px;
        padding: 0px 15px;
        &:hover {
          background: rgba(0, 0, 0, 0.1);
        }
      }
    }
    .row {
      @include flex-start-center;
      width: 33.33%;
      height: 50px;
      &--small {
        width: 100px;
      }
      &--medium {
        width: calc(100% - 33% - 100px);
      }

      img {
        object-fit: contain;
        width: auto;
        height: 90%;
      }
    }
  }
}
</style>
