<template>
  <div>
    <AppDataTable
      :teams="teams"
      :countries="countries"
      @filter-by-country="filterByCountry($event)"
    />
  </div>
</template>
<script>
// Services
import { getTeamsOfCountry } from './services/plays-info.service'

// Components
import AppDataTable from './components/AppDataTable'

export default {
  name: 'PlaysOfCountryView',
  data () {
    return {
      teams: [],
      countries: []
    }
  },
  created () {
    this.filterByCountry(this.$route.params.id, this.$route.params.country)
  },
  methods: {
    // Filtro de equipos por pais (select)
    async filterByCountry (idOfCountry, nameOfCountry) {
      const teamsOfCountry = await getTeamsOfCountry(idOfCountry)
      const results = [
        {
          id: idOfCountry,
          country: nameOfCountry,
          country_id: idOfCountry,
          teams: teamsOfCountry
        }
      ]
      this.teams = results
    }
  },
  components: {
    AppDataTable
  }
}
</script>
