<template>
  <div>
    <AppDataTable
      :teams="teams"
      :countries="countries"
      @filter-by-country="filterByCountry($event)"
    />
  </div>
</template>
<script>
// Services
import { getTeamsOfCountry, getLeagesOfWorld } from './services/plays-info.service'

// Components
import AppDataTable from './components/AppDataTable'

export default {
  name: 'PlaysCountryView',
  data () {
    return {
      teams: [],
      countries: []
    }
  },
  async created () {
    // Obtenemos la lista de ligas ordenada
    const leagesOfWorld = await getLeagesOfWorld()
    const leagesWithTeams = leagesOfWorld.map((value, index) => {
      return {
        id: index,
        country: value.name,
        country_id: value.country_id,
        teams: []
      }
    })
    const getCountrys = await getLeagesOfWorld()
    const countries = getCountrys.map((value, index) => {
      return {
        id: index,
        country: value.name,
        country_id: value.country_id,
        teams: []
      }
    })
    this.teams = leagesWithTeams
    this.countries = countries
  },
  methods: {
    // Filtro de equipos por pais (select)
    async filterByCountry ({ idOfCountry, nameOfCountry }) {
      const teamsOfCountry = await getTeamsOfCountry(idOfCountry)
      const results = [
        {
          id: idOfCountry,
          country: nameOfCountry,
          country_id: idOfCountry,
          teams: teamsOfCountry
        }
      ]
      this.teams = results
    }
  },
  components: {
    AppDataTable
  }
}
</script>
