<template>
  <div class="wolrd-cups-view">
    <WorldCupsNavigation />
    <div class="page-loader">
      <img src="@app/assets/loading-black.svg" />
    </div>
    <router-view />
  </div>
</template>
<script>
import WorldCupsNavigation from './components/WorldCupsNavigation'
export default {
  name: 'WorldCupsView',
  components: {
    WorldCupsNavigation
  }
}
</script>
<style lang="scss" scoped>
.wolrd-cups-view {
  width: 100%;
  height: 100vh;
  position: relative;

  .page-loader {
    @include flex-center-center;
    width: 100%;
    height: calc(100% - 70px);
    position: absolute;
    top: 70px;
    z-index: -1;
  }
}
</style>
