<template>
  <div class="puppy-results">
    <div class="searcher-container">
      <h2 class="searcher-container__title">
        Resultados de {{ this.$route.params.query }}
      </h2>
      <div class="searcher-container__searcher">
        <AppSearcher
          :showHistorySaved="true"
          :loadingSearcher="loadingSearcher"
          :historyOfQuery="historyOfQuery"
          @search-query="searchQuery($event.query)"
          @search-query-by-historial="searchQueryByHistorial($event.query)"
        />
      </div>
    </div>
    <div class="results-container">
      <div
        class="results-container__result"
        v-for="(item, index) in results"
        :key="index"
      >
        <img :src="item.images.downsized_medium.url" />
      </div>
    </div>
  </div>
</template>
<script>
/*
  Animaciones y servicios
  Esta forma de trabajar sigue el patrón inyección de dependencias y el principio de responsabilidad
  única lo que hacemos es delegar las animaciones y peticiones en servicios externos para lograr tres cosas
    1.- Separar el código en múltiples partes y así lograr que cada parte se enfoque exclusivamente en
        la tarea a la que se le asigno
    2.- Al darle mantenimiento al proyecto tener muy bien ubicadas cada una de las funciones
        y asi ahorrar tiempo al darle mantemiento y evitar errores en el resto del código
    3.- Mejorar la organización del componente en general: volverlo más legible y sencillo de entender
*/

// Components
import AppSearcher from '@mod/puppy-app/components/AppSearcher'

// Animations
import { closePageTransition } from './animations/puppy-results.animations'

// Services
import { getResults } from './services/get-results.service'
import { saveQuery } from '@mod/puppy-app/services/save-query.service'
import { getHistoryQuery } from '@mod/puppy-app/services/get-history-query.service'

export default {
  name: 'PuppyResultsView',
  data () {
    return {
      results: [],
      loadingSearcher: false,
      historyOfQuery: []
    }
  },
  components: {
    AppSearcher
  },
  async created () {
    this.results = []
    this.loadingSearcher = await true
    this.results = await getResults(this.$route.params.query)
    this.loadingSearcher = await false
    this.historyOfQuery = await getHistoryQuery()
  },
  mounted () {
    setTimeout(() => {
      closePageTransition()
    }, 2000)
  },
  methods: {
    async searchQuery (query) {
      if (query !== '') {
        this.loadingSearcher = true
        saveQuery(query)
        this.results = []
        this.$router.push(`/results/${query}`)
        this.historyOfQuery = await getHistoryQuery()
        this.results = await getResults(query)
        this.loadingSearcher = false
      }
    },
    async searchQueryByHistorial (query) {
      if (query !== '') {
        this.results = []
        this.loadingSearcher = true
        this.$router.push(`/results/${query}`)
        this.historyOfQuery = await getHistoryQuery()
        this.results = await getResults(query)
        this.loadingSearcher = false
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.puppy-results {
  width: 100%;
  height: auto;
  overflow: hidden;
  .searcher-container {
    @include flex-center-center;
    width: 100%;
    height: 350px;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    @media (max-width: 650px) {
      padding: 0 15px;
    }

    &__title {
      width: 100%;
      text-align: center;
      font-size: 35px;
      @media (max-width: 650px) {
        font-size: 27px;
      }
    }

    &__searcher {
      width: 50%;
      height: 60px;
      margin-top: 35px;
      @media (max-width: 650px) {
        width: 100%;
      }
    }
  }

  .results-container {
    @include flex-start-start;
    width: 100%;
    height: auto;
    align-items: flex-start;
    padding: 0px 50px;
    overflow-y: auto;
    gap: calc(4% / 2);
    row-gap: 40px;
    flex-wrap: wrap;
    @media (max-width: 650px) {
      padding: 0px 15px;
    }
    &__result {
      width: 32%;
      height: 300px;
      overflow: hidden;
      @media (max-width: 650px) {
        width: 100%;
      }
    }
  }
}
</style>
