<template>
  <div class="app-searcher">
    <input
      v-model="queryValue"
      class="app-searcher__input"
      placeholder="Encuentra a tu canino favorito"
      @focus="isFocusInput = true"
      @blur="closeHistoryOfQuery()"
      @keypress.enter="sendQuery()"
    />
    <div class="app-searcher__button">
      <div
        v-if="!loadingSearcher"
        class="button-text"
        @click="sendQuery()"
      >
        Buscar
      </div>
      <div
        v-else
        class="button-loading"
      >
        <img src="@app/assets/loader.svg" />
      </div>
    </div>

    <div
      class="app-searcher__history"
      v-if="showHistorySaved && isFocusInput"
    >
      <li
        v-for="(item, index) in historyOfQuery"
        :key='index'
        class="result-link"
        @click="searchByHistory(item.query)"
      >
        {{ item.query }}
        <img src="@app/assets/right-arrow.png" />
      </li>
    </div>
  </div>
</template>
<script>
export default {
  name: 'AppSearcher',
  data () {
    return {
      queryValue: '',
      isFocusInput: false
    }
  },
  props: {
    loadingSearcher: {
      type: Boolean,
      default: false,
      required: false
    },
    showHistorySaved: {
      type: Boolean,
      default: false,
      required: true
    },
    historyOfQuery: {
      default: () => {
        return []
      },
      type: Array,
      required: false
    }
  },
  methods: {
    sendQuery () {
      this.$emit('search-query', {
        query: this.queryValue,
        stateOfLoading: true
      })
      this.queryValue = ''
    },
    searchByHistory (query) {
      this.$emit('search-query-by-historial', {
        query: query,
        stateOfLoading: true
      })
      this.queryValue = ''
    },
    closeHistoryOfQuery () {
      setTimeout(() => {
        this.isFocusInput = false
      }, 200)
    }
  }
}
</script>
<style lang="scss" scoped>
.app-searcher {
  @include flex-center-center;
  height: 100%;
  border-radius: 5px;
  box-shadow: $elevation-1;
  height: 70px;
  position: relative;

  &__input {
    width: 70%;
    height: 100%;
    border: none;
    padding: 0px 15px;
    font-size: 17px;
    &:focus {
      outline: none;
    }
  }

  &__button {
    @include flex-center-center;
    width: 30%;
    height: 100%;
    cursor: pointer;
    background: black;
    color: white;

    .button-text {
      @include flex-center-center;
      width: 100%;
      height: 100%;
      cursor: pointer;
    }

    .button-loading {
      @include flex-center-center;
      width: 100%;
      height: 100%;
    }
  }

  &__history {
    width: 100%;
    height: calc(100vh - 250px);
    background: black;
    color: white;
    position: absolute;
    top: 80px;
    overflow-y: auto;
    transition: 1s;
    padding: 15px 25px;
    .result-link {
      @include flex-between-center;
      width: 100%;
      height: 100px;
      font-weight: 700;
      text-transform: uppercase;
      font-size: 50px;
      cursor: pointer;
      border-bottom: solid 4px;
      img {
        width: 80px;
      }
    }
  }
}
</style>
