<template>
  <div class="puppy-searcher-loader animation-loader">
    <div class="loader-text">
      <p class="loader-text__paragraph">
        Buscando resultados para <br>
        <span class="loader-text__paragraph--mark">
          {{ queryRequest }}
        </span>
      </p>
      <div class="loader-text__icon">
        <img src="@app/assets/loading-black.svg" />
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'PageLoader',
  props: {
    queryRequest: {
      required: true
    }
  }
}
</script>
<style lang="scss">
.puppy-searcher-loader {
  @include flex-center-center;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  z-index: 2;
  position: absolute;
  top: -100%;
  opacity: 0;

  .loader-text {
    @include flex-start-center;
    width: 50%;
    height: 100%;
    color: black;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    @media (max-width: 650px) {
      width: 100%;
      padding: 0px 15px;
    }
    &__paragraph {
      font-size: 50px;
      font-weight: 300;
      text-transform: uppercase;
      @media (max-width: 650px) {
        font-size: 35px;
      }
      &--mark {
        font-weight: 700;
      }
    }
    &__icon {
      width: 100%;
      @media (max-width: 650px) {
        width: 40px;
        position: absolute;
        right: 15px;
        bottom: 15px;
      }
      img {
        @media (max-width: 650px) {
          width: 40px;
          height: 40px;
        }
      }
    }
  }
}
</style>
