<template>
  <div class="puppy-searcher">
    <router-view />
    <!-- Formulario de busqueda -->
    <div class="puppy-searcher__form">
      <h1 class="form-title animation-exit-1">
        Miles de perritos haciendo cosas chistosas
        <div class="form-title__revelation revelation-2" />
      </h1>
      <h2 class="form-sub-title animation-2">
        Encuentra al perrito que te alegrará el día que te alegrará el día
      </h2>
      <div class="form-searcher animation-3">
        <AppSearcher
          :showHistorySaved="false"
          @search-query="searchQuery($event)"
        />
      </div>
    </div>

    <!-- Imagenes -->
    <div class="puppy-searcher__images">
      <div class="image-container">
        <div class="image-container__revelation revelation-1" />
        <img
          class="image-container__image animation-exit-2"
          src="./assets/puppy.jpg"
        />
      </div>
    </div>
  </div>
</template>
<script>
/*
  Animaciones y servicios
  Esta forma de trabajar sigue el patrón inyección de dependencias y el principio de responsabilidad
  única lo que hacemos es delegar las animaciones y peticiones en servicios externos para lograr tres cosas
    1.- Separar el código en múltiples partes y así lograr que cada parte se enfoque exclusivamente en
        la tarea a la que se le asigno
    2.- Al darle mantenimiento al proyecto tener muy bien ubicadas cada una de las funciones
        y asi ahorrar tiempo al darle mantemiento y evitar errores en el resto del código
    3.- Mejorar la organización del componente en general: volverlo más legible y sencillo de entender
*/

// Components
import AppSearcher from '@mod/puppy-app/components/AppSearcher'

// Animations
import { entranceAnimations, exitAnimations } from './animations/hero.animations'

// Sevices
import { saveQuery } from '@mod/puppy-app/services/save-query.service'

export default {
  name: 'PuppySearcherView',
  inject: ['updateQuery'],
  components: {
    AppSearcher
  },
  methods: {
    searchQuery ({ query }) {
      if (query !== '' && query !== undefined) {
        this.updateQuery(query)
        saveQuery(query)
        exitAnimations(query)
      }
    }
  },
  mounted () {
    entranceAnimations()
  }
}
</script>
<style lang="scss" scoped>
.puppy-searcher {
  @include flex-start-center;
  width: 100%;
  height: 100vh;
  position: relative;

  // Formulario de busqueda
  &__form {
    @include flex-start-center;
    width: 50%;
    height: 100%;
    padding: 2.5%;
    flex-wrap: wrap;
    align-content: center;
    row-gap: 15px;
    z-index: 1;
    @media (max-width: 650px) {
      width: 100%;
      padding: 0px 15px;
      position: absolute;
      left: 0;
      top: 0;
      z-index: 1;
    }
    .form-title {
      width: 100%;
      font-size: 50px;
      text-align: left;
      position: relative;
      @media (max-width: 650px) {
        font-size: 27px;
        text-align: center;
      }
      &__revelation {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background: white;
      }
    }
    .form-sub-title {
      width: 100%;
      font-weight: 300;
      text-align: left;
      font-size: 25px;
      @media (max-width: 650px) {
        font-size: 20px;
        text-align: center;
      }
    }
    .form-searcher {
      width: 80%;
      height: 60px;
      margin-top: 15px;
      @media (max-width: 650px) {
        width: 100%;
      }
    }
  }

  // Contenedor de imagenes
  &__images {
    @include flex-center-center;
    width: 50%;
    height: 100%;
    z-index: 0;
    @media (max-width: 650px) {
      width: 100%;
      position: absolute;
      left: 0;
      top: 0;
      &::after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
        background: white;
        opacity: 0.7;
      }
    }

    .image-container {
      @include flex-center-center;
      width: 100%;
      height: 100%;
      position: relative;
      overflow: hidden;
      z-index: 0;

      &__revelation {
        position: absolute;
        width: 100%;
        height: 100%;
        background: white;
        z-index: 1;
      }

      &__image {
        z-index: 0;
        width: 100%;
        height: 90%;
        object-fit: cover;
        @media (max-width: 650px) {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
</style>
